/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html *{
  font-family: 'Bender black';
  }
  a:hover {
  text-decoration: none;
  }
  .container{
  padding-top: 70px;
  padding-bottom: 50px;
  }
  html,
  body {
  overflow: hidden !important;
  }
  .nav-margin {
  margin: 10px;
  }
  .red-button{
  background-color: #FC3F4F;
  border-radius: 25px;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-bottom: 5px;
  
  }
  
  .card:hover{
  
  }
  .light-clr{
  background-color: #F0C838;
  }
  .dark-clr{
  background-color: #42285F;
  }
  .red-clr{
  background-color: #FB2A3A;
  }
  .light-clr-text{
  color: #F0C838;
  }
  .dark-clr-text{
  color: #42285F;
  }
  .red-clr-text{
  color: #FB2A3A;
  }
  .center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .circle {
  border-radius: 50%;
  background: #fff;
  width: 100px;
  height: 100px;
  }
  .circle:hover {
  opacity: 0.5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  }
  #fp-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
    flex-direction: column;
  }
  #fp-nav ul li a span {
  background: #000;
  }
  
  @-webkit-keyframes cardFlip {
  0% {
  -webkit-transform: rotateZ(0deg) rotateY(180deg);
      transform: rotateZ(0deg) rotateY(180deg);
  } 
  50% {
  -webkit-transform: rotateZ(-10deg) rotateY(90deg);
      transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
  -webkit-transform: rotateZ(0deg) rotateY(0deg);
      transform: rotateZ(0deg) rotateY(0deg);
  }
  
  }
  
  @keyframes cardFlip {
  0% {
  -webkit-transform: rotateZ(0deg) rotateY(180deg);
      transform: rotateZ(0deg) rotateY(180deg);
  } 
  50% {
  -webkit-transform: rotateZ(-10deg) rotateY(90deg);
      transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
  -webkit-transform: rotateZ(0deg) rotateY(0deg);
      transform: rotateZ(0deg) rotateY(0deg);
  }
  
  }
  
  @-webkit-keyframes cardUnFlip {
  0% {
      -webkit-transform: rotateZ(0deg) rotateY(0deg);
      transform: rotateZ(0deg) rotateY(0deg);
      -moz-transform: rotateZ(0deg) rotateY(0deg);
      -ms-transform: rotateZ(0deg) rotateY(0deg);
      -o-transform: rotateZ(0deg) rotateY(0deg);
  } 
  50% {
  -webkit-transform: rotateZ(-10deg) rotateY(90deg);
      transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
  -webkit-transform: rotateZ(0deg) rotateY(180deg);
      transform: rotateZ(0deg) rotateY(180deg);
  }
  
  }
  
  @keyframes cardUnFlip {
  0% {
  -webkit-transform: rotateZ(0deg) rotateY(0deg);
      transform: rotateZ(0deg) rotateY(0deg);
  } 
  50% {
  -webkit-transform: rotateZ(-10deg) rotateY(90deg);
      transform: rotateZ(-10deg) rotateY(90deg);
  }
  100% {
  -webkit-transform: rotateZ(0deg) rotateY(180deg);
      transform: rotateZ(0deg) rotateY(180deg);
  }
  
  }
  .navbar-toggler {
  position: fixed;
  right: 15px;
  top: 15px;
  padding: 0;
  border: 0;
  }
  .navbar {
  min-height: 70px;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  }
  .stat {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  }
  
  .eleme{
  position: relative;
  }
  .hover-button{
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  top: 0;
  }
  .eleme:hover>.hover-button{
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  top: 10px;
  }
  .eleme:active>.hover-button{
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  top: 46px;
  }
  .card-img {
  position: relative;
  height: 0;
  border: none;
  padding-top: 100%;
  }
  .bigtext {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  }
  .scale__container--js {
  text-align: center;
  }
  .scale--js {
  display: inline-block;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
  font-weight: bold;
  margin: 0;
  line-height: 100%;
  }
  .fp-controlArrow {
  display: block;
  background: #fff;
  border-radius: 5px;
  border: 0;
  bottom: 80px;
  }
  .fp-controlArrow.fp-prev {
  margin: 0;
  height: 60px;
  width: 60px;
  left: 10px;
  top: auto;
  }
  .fp-controlArrow.fp-next {
  margin: 0;
  height: 60px;
  width: 60px;
  right: 10px;
  top: auto;
  }
  .fp-controlArrow .fa {
  color: #FB2A3A;
  line-height: 60px;
  width: 60px;
  text-align: center;
  }
  .form-control {
  border: 0;
  }
  .img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  }
  .navbar-brand {
  margin: 0;
  padding: 0;
  }
  
  .nav-link {
  text-align: center;
  }
  .h100 {
  height: 100%;
  }
  
  .rotate {
  width: 200px;
  height: 350px;
  background-color: #eee;
  -webkit-animation: cardFlip .275s forwards linear;
    animation: cardFlip .275s forwards linear;
  border-radius: 5px;
  position: relative;
  }
  .card-box:checked ~ .rotate {
  -webkit-animation: cardFlip .275s forwards linear;
    animation: cardFlip .275s forwards linear;
  background-color: #ddd;
  }
  .card-box  ~ .rotate {
  -webkit-animation: cardUnFlip .275s forwards linear;
    animation: cardUnFlip .275s forwards linear;
  }
  
  .card{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
    user-select: none;
  margin: 5px;
  position: relative;
  border-radius: 5px;
  border: 0;
  padding: 0;
  -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
  -webkit-transform: perspective(1000px) translate3d(0,0,0)  rotateY(0);
    transform: perspective(1000px) translate3d(0,0,0)  rotateY(0);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  }
  .card-back{
  padding: 5px;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  background-color: #FB2A3A;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  }
  .card-face{
  color: #42285F;
  position: relative;
  padding: 5px;
  border-radius: 5px;
  background-color: #F0C838;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  }
  .card:hover{
    -webkit-transform: perspective(1000px) translate3d(0,0,70px) rotateY(0);
    transform: perspective(1000px) translate3d(0,0,70px) rotateY(0);
    -webkit-box-shadow: 0 0  10px #000;
    box-shadow: 0 0  10px #000;
    z-index: 1;
    -moz-transform: perspective(1000px) translate3d(0,0,70px) rotateY(0);
    -ms-transform: perspective(1000px) translate3d(0,0,70px) rotateY(0);
    -o-transform: perspective(1000px) translate3d(0,0,70px) rotateY(0);
  }
  .col.col-6.col-lg-2{
  padding: 0;
  }
  .card:active{
  -webkit-transform: perspective(1000px)  translate3d(0,0,70px)  rotateY(180deg);
    transform: perspective(1000px)  translate3d(0,0,70px)  rotateY(180deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  }
  .card-body{
  padding: 0;
  }
  .card-back > p{
  font-size: 16px;
  line-height: 1;
  }
  .card-bot{
  
  color: #fff;
  }
  .ling{
    margin-top: 5px;
  }
  .gradient{
    color: #fff;
   animation: gradient 20s infinite ;
  }
  .gradient>h5{
    font-size: 2rem;
   color: #fff;
  }
  .navbar-toggler{
  background-image: url('svg/кнопка.svg');
  background-position: center;
  background-size: 100%;
  }
  .nav-link{
  color: #fff;
  }
  .nav-link:hover{
  color: #F0C838;
  }
  .nav-item.active>.nav-link{
  
  color: #F0C838;
  }
  .fp-tableCell{
    background: -o-linear-gradient(225deg, rgba(255,255,255,0), rgba(255,255,255,0.3));
    background: linear-gradient(-135deg, rgba(255,255,255,0), rgba(255,255,255,0.3));
  }
  
  @font-face {
  font-family: 'Bender Light';
  src: url('../font/Bender-Light.eot');
  src: url('../font/Bender-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/Bender-Light.woff') format('woff'),
  url('../font/Bender-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  
  @font-face {
  font-family: 'Bender Regular';
  src: url('../font/Bender.eot');
  src: url('../font/Bender.eot?#iefix') format('embedded-opentype'),
  url('../font/Bender.woff') format('woff'),
  url('../font/Bender.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
  font-family: 'Bender Black';
  src: url('../font/Bender-Black.eot');
  src: url('../font/Bender-Black.eot?#iefix') format('embedded-opentype'),
  url('../font/Bender-Black.woff') format('woff'),
  url('../font/Bender-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  @-webkit-keyframes gradient { 
    0%{
      background: #820D91;
  }
    20%{
      background: #F0C838;
    }
    40%{
      background: #8B3FFC;
    }
    60%{
      background: #62C7F9;
    }
    80%{
  
      background: #CC0096;
    }
    100%{
      background: #820D91;
  
  }
  }
  @keyframes gradient { 
    0%{
      background: #820D91;
  }
    20%{
      background: #F0C838;
    }
    40%{
      background: #8B3FFC;
    }
    60%{
      background: #62C7F9;
    }
    80%{
  
      background: #CC0096;
    }
    100%{
      background: #820D91;
  
  }
  }